<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__upper">
            <a href="#" class="footer__logo">
               <img src="img/icons/logo-footer.svg" alt="">
            </a>
            <div class="footer__item first">
               <div class="footer__subheader body-text" style="color: #FFFFFF66;">
                  <span>Головной офис</span>
               </div>
               <ul>
                  <li>
                     <a href="#" class="footer__link">Казань, ул . 25 Октября 5А к.1</a>
                  </li>
               </ul>
               <ul>
                  <li>
                     <a href="tel:+78435282852" class="footer__link">+7 (843) 528-28-52</a>
                     <a href="mailto:info@sovhimtech.ru" class="footer__link">info@sovhimtech.ru</a>
                  </li>
               </ul>
            </div>
            <div class="footer__item">
               <div class="footer__subheader footer__subheader--accordion body-text" style="color: #FFFFFF66;">
                  <span>Навигация</span>
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.54744 13.0024L11 8.00244L5.54744 3.00244C5.39627 3.17358 5.54744 3.00244 5 3.6222L9.7767 8.00244L5 12.3827C5.5474 13.0024 5.39627 12.8313 5.54744 13.0024Z"
                        fill="white" />
                  </svg>
               </div>
               <div class="footer__spoiler collapse">
                  <ul>
                     <li>
                        <a href="#" class="footer__link">Продукция</a>
                     </li>
                     <li>
                        <a href="#" class="footer__link">Технологии</a>
                     </li>
                     <li>
                        <a href="#" class="footer__link">О компании</a>
                     </li>
                     <li>
                        <a href="#" class="footer__link">Медиацентр</a>
                     </li>
                     <li>
                        <a href="#" class="footer__link">Контакты</a>
                     </li>
                     <li>
                        <a href="#" class="footer__link">Документы</a>
                     </li>
                     <li>
                        <a href="#" class="footer__link">Карьера</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="footer__item second">
               <div class="footer__subheader footer__subheader--accordion body-text" style="color: #FFFFFF66;">
                  <span>Продукция</span>
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.54744 13.0024L11 8.00244L5.54744 3.00244C5.39627 3.17358 5.54744 3.00244 5 3.6222L9.7767 8.00244L5 12.3827C5.5474 13.0024 5.39627 12.8313 5.54744 13.0024Z"
                        fill="white" />
                  </svg>
               </div>
               <div class="footer__spoiler collapse">
                  <ul>
                     <li>
                        <a href="#" class="footer__link">Регуляторы фильтрации</a>
                     </li>
                     <li>
                        <a href="#" class="footer__link">Ингибиторы глинистых сланцев</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Пеногасители и смазки</a>
                     </li>
                     <li>
                        <a href="#" class="footer__link">Эмульгаторы и компоненты РУО</a>
                     </li>

                     <li><a href="#" class="footer__link">Поглотители, профилактика потерь</a></li>
                     <li><a href="#" class="footer__link">Средства для глушения скважин</a></li>
                     <li><a href="#" class="footer__link">Средства для КРС</a></li>
                     <li><a href="#" class="footer__link">Биоциды</a></li>
                  </ul>
               </div>
            </div>
            <div class="footer__btn">
               <button class="btn btn--m btn--transparent-white btn--text-anim">
                  <p>
                     <span> Оставить заявку</span><span> Оставить заявку</span>
                  </p>
                  <img src="img/icons/Arrow-right-small.svg" alt="">
               </button>
            </div>
            <div class="footer__item">
               <div class="footer__subheader body-text" style="color: #FFFFFF66;">
                  <span>Для коммерческих предложений</span>
               </div>
               <ul>
                  <li>
                     <a href="#" class="footer__link">gumarov@sovhimtech.ru</a>
                  </li>
               </ul>
            </div>
            <div class="footer__item last">
               <div class="footer__subheader body-text" style="color: #FFFFFF66;">
                  <span>Покупка реагентов</span>
               </div>
               <ul>
                  <li>
                     <a href="#" class="footer__link">sales@sovhimtech.ru</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="footer__down">
            <span>©2025, Современные Химические Технологии</span>
            <span>
               Made by <a href="#" target="_blank" class="footer__link">OKTTA</a>
            </span>
         </div>
      </div>
   </div>
</footer>