@import "base/style";
@import "modal";
@import "home/style";
@import "production/style";
@import "catalog/style";
@import "product/style";
@import "media/style";
@import "job/style";
@import "article/style";
@import "contacts/style";
@import "documents/style";
@import "search/style";
@import "tech/style";
@import "header";
@import "breadcrumbs";
@import "footer";
@import "about/style";

.home-main {
   padding-top: 0 !important;
   position: relative;
   .home-hero {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
   }
}
.home-page {
   margin-top: calc(-5svh - 20px);
   position: relative;
   top: 0;
   left: 0;
   z-index: 10;
   @media (max-width: $tablet) {
      margin-top: calc(-5svh - 10px);
   }
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      border-radius: 32px 32px 0 0;
      z-index: -1;
      @media (max-width: $mobile) {
         border-radius: 28px 28px 0 0;
      }
   }
}
.product-main {
   padding-top: var(--header) !important;
}
.product-page {
   &::before {
      background-color: #f3f5f7;
   }
}
